@{
    ViewBag.Title = "Home Page";
}




<main class="container text-center">
    <div class="row text-center justify-content-center">
        <!-- Add justify-content-center -->
        <div class="col-sm-6 col-md-3 text-center img-container">
            <a href="@Url.Action("BrowseInventory", "Home")">
                Browse Inventory
            </a>
            <a href="@Url.Action("BrowseInventory", "Home")">
                <img class="img-link rounded" alt="Inventory" src="/Content/Images/inventory.jpg">
            </a>
        </div>

        <div class="col-sm-6 col-md-3 text-center img-container">
            <a href="@Url.Action("BrowseByAuthor", "Home")">
                Browse By Author
            </a>
            <a href="@Url.Action("BrowseByAuthor", "Home")">
                <img class="img-link rounded" alt="Author" src="/Content/Images/author.jpg">
            </a>
        </div>
    </div>

    <div class="row text-center justify-content-center">
        <!-- Add justify-content-center -->
        <div class="col-sm-6 col-md-3 text-center img-container">
            <a href="@Url.Action("BrowseByPublisher", "Home")">
                Browse By Publisher
            </a>
            <a href="@Url.Action("BrowseByPublisher", "Home")">
                <img class="img-link rounded" alt="Inventory" src="/Content/Images/publisher.jpg">
            </a>
        </div>

        <div class="col-sm-6 col-md-3 text-center img-container">
            <a href="@Url.Action("BrowseByLocation", "Home")">
                Browse By Location
            </a>
            <a href="@Url.Action("BrowseByLocation", "Home")">
                <img class="img-link rounded" alt="Author" src="/Content/Images/bookstore.jpg">
            </a>
        </div>
    </div>
</main>

