@Styles.Render("~/Content/HenryMain.css")
<div class="navList">
    <ul style="list-style-type: none; margin:5px;">

        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Browse By Inventory", "BrowseByInventory", "Home")</li>
        <li>@Html.ActionLink("Browse By Author", "BrowseByAuthor", "Home")</li>
        <li>@Html.ActionLink("Browse By Publisher", "BrowseByPublisher", "Home")</li>
        <li>@Html.ActionLink("Browse By Location", "BrowseByLocation", "Home")</li>
        <li>@Html.ActionLink("Contact Management", "ContactManagement", "Home")</li>

    </ul>
</div>
